body {
    font-weight: 400;
}

main {
    padding: 70px 0;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.pricing__title {
    text-align: center;
}

.pricing__description {
    text-align: center;
}

.pricing__switcher {
    margin: 30px 0 50px;
}

#switcher {
    display: none;
}

.switcher {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 342px;
    height: 46px;
    border: 1px solid #bbbbbb;
    border-radius: 25px;
    cursor: pointer;
}

.switcher:after {
    position: absolute;
    content: '';
    left: 3px;
    top: 3px;
    width: calc(50% - 3px);
    height: calc(100% - 6px);
    background-color: #3773B6;
    border-radius: 25px;
    z-index: -1;
    transition: transform .3s ease-in-out;
}

.switcher__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 18px;
    color: #7e7e7e;
    transition: all .3s ease-in-out;
}

.switcher__item.first-switch {
    font-weight: 700;
    color: #fff;
}

#switcher:checked + .switcher:after {
    transform: translateX(100%);
}

#switcher:checked + .switcher .first-switch {
    font-weight: 400;
    color: #7e7e7e;
}

#switcher:checked + .switcher .second-switch {
    font-weight: 700;
    color: #fff;
}

.plans {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plan {
    display: flex;
    flex-direction: column;
    width: 342px;
    padding: 30px 30px 40px;
    border-radius: 20px;
    background: linear-gradient(252.08deg, #FFD44A 18.5%, rgba(255, 247, 67, 0.94) 75.75%);
}

.plan:nth-child(2) {
    background: linear-gradient(273.58deg, #FFD44A 56.55%, #FFD44A 96.66%);
}

.plan:nth-child(3) {
    background: linear-gradient(253.47deg, #E496C5 24.78%, rgba(255, 201, 120, 0.94) 73.69%);
}

.plan__title {
    font-size: 28px;
    text-align: center;
}

.plan__features {
    display: flex;
    flex-direction: column;
    margin: 30px 0 40px;
}

.plan__feature {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7px;
}

.plan__feature-icon {
    width: 18px;
    height: 17px;
    margin-top: 3px;
}

.plan__feature-name {
    margin-left: 8px;
    font-size: 16px;
}

.black-text {
    font-weight: 900;
}

.plan__footer {
    margin-top: auto;
    text-align: center;
}

.plan__price {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.plan__price_monthly {
    display: none;
}

.monthly .plan__price_monthly {
    display: block;
}

.monthly .plan__price_yearly {
    display: none;
}

.old-price {
    position: relative;
    font-size: 28px;
    font-weight: 400;
    margin-right: 10px;
}

.old-price:after {
    position: absolute;
    content: '';
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    width: calc(100% + 10px);
    height: 3px;
    background-color: #F33F6A;
}

.methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.methods__title {
    text-align: center;
}

.methods__items {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.methods__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #DCDCDC;
    border-radius: 14px;
    padding: 7px;
    width: 90px;
    height: 58px;
}

.methods__item:not(:last-child) {
    margin-right: 25px;
}

.action-button {
    text-align: center;
}

@media screen and (max-width: 1199px) {
    .switcher {
        width: 310px;
        height: 40px;
    }

    .plan {
        width: 290px;
    }

    .plan__price {
        font-size: 26px;
    }

    .old-price {
        font-size: 23px;
    }

    .old-price:after {
        left: -4px;
        transform: translateY(-50%);
        width: calc(100% + 8px);
        height: 2px;
        background-color: #F33F6A;
    }
}

@media screen and (max-width: 991px) {
    main {
        padding: 30px 0;
    }

    .pricing__switcher {
        margin: 15px 0 20px;
    }

    .plans {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .plan {
        max-width: 600px;
        width: 100%;
    }

    .plan:not(:last-child) {
        margin-bottom: 20px;
    }

    .methods__title {
        max-width: 230px;
    }

    .methods__items {
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .methods__item:not(:last-child) {
        margin-right: 15px;
    }

    .methods__item {
        margin-bottom: 15px;
        margin-right: 15px;
    }
}
.faq {
    margin-top: 100px;
    padding-bottom: 50px;
}

.faq__question {
    padding: 15px 0;
    border-top: 1px solid #BFBFBF;
}

.faq__question:last-child {
    border-bottom: 1px solid #BFBFBF;
}

.question__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question__indicator {
    margin-right: 5px;
}

.question.active .question__indicator {
    transform: rotate(90deg);
}

.question__title {
    margin-bottom: 0;
}

.question__content {
    margin-top: 15px;
    display: none;
}

.question.active .question__content {
    display: block;
}

.question__text {
    font-size: 15px;
}

.question__link {
    font-size: 15px;
    font-weight: 700;
}
